* {
  margin: 0;
  padding: 0;
  border: 0;
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
  line-height: 1.5;
}

.btn-sm .material-icons {
  font-size: .875rem;
  line-height: 1.5;
}

.btn .material-icons {
  font-size: 1rem;
  line-height: 1.5;
}