/* Fonts
===============================================*/
@font-face {
  font-family: SSP;
  src: local('Ø'), url(../fonts/SourceSansPro-ExtraLight.ttf.woff) format('woff');
  font-weight: 200;
}
@font-face {
  font-family: SSP;
  src: local('Ø'), url(../fonts/SourceSansPro-Light.ttf.woff) format('woff');
  font-weight: 400;
}
@font-face {
  font-family: SSP;
  src: local('Ø'), url(../fonts/SourceSansPro-Regular.ttf.woff) format('woff');
}
@font-face {
  font-family: SSP;
  src: local('Ø'), url(../fonts/SourceSansPro-It.ttf.woff) format('woff');
  font-style: italic;
}
@font-face {
  font-family: SSP;
  src: local('Ø'), url(../fonts/SourceSansPro-Bold.ttf.woff) format('woff');
  font-weight: bold;
}
@font-face {
  font-family: SSP;
  src: local('Ø'), url(../fonts/SourceSansPro-Semibold.ttf.woff) format('woff');
  font-weight: 600;
}
@font-face {
  font-family: SSP;
  src: local('Ø'), url(../fonts/SourceSansPro-Black.ttf.woff) format('woff');
  font-weight: 800;
}
@font-face {
  font-family: Menlo;
  src: local('Ø'), url(../fonts/Menlo-Regular.woff) format('woff');
  font-weight: normal;
}

* {
  margin: 0;
  padding: 0;
  border: 0;
  font-family: SSP, sans-serif;
  /*font-weight: normal;*/
  font-size: 16px;
  line-height: 1.5;
}

.btn-sm .material-icons {
  font-size: .875rem;
  line-height: 1.5;
}

.btn .material-icons {
  font-size: 1rem;
  line-height: 1.5;
}